<li class="ads">

<div class="sidebar">
  <article class="snippet">
    <h3 class="snippet__title"><a href="{{ about.url  }}" >{{ about.data.title }}</h3></a>
    <p class="snippet__body">{{ about.data.description  }}</p>
  </article>
</div>

<div class="sidebar-ad">
  <h4>categorie:</h4>
  <article class="snippet">
    <h3 class="snippet__title"><a href="{{ about.url  }}" >{{ about.data.title }}</h3></a>
    <p class="snippet__body">{{ about.data.description  }}</p>
  </article>
</div>
</li>