<li>
  <article class="snippet">
    <img src="{{ about.data.image}}" alt="{{ about.data.imageAlt}}" class="snippet__image">
    <h3 class="snippet__title"><a href="{{ about.url  }}" >{{ about.data.title }}</h3></a>
    <p class="snippet__meta"> by <span>{{ about.data.author }}</span> on <span>{{ about.date | postDate }}</span></p>
    <p class="snippet__body">{{ about.data.description  }}</p>
    <a href="{{ about.url  }}" class="btn btn--primary"> Read More </a>
  </article>
</li>