<li class="ads">
<div class="sidebar-ad">
  <h4>categorie:</h4>
  <article class="snippet">
    <h3 class="snippet__title"><a href="{{ adsPlacement.url  }}" >{{ adsPlacement.data.title }}</h3></a>
    <p class="snippet__body">{{ adsPlacement.data.description  }}</p>
  </article>
</div>
</li>