<li class="ads">

<div class="sidebarWgt">
  <article class="snippetWgt">
    <img src="{{ about.data.image}}" alt="{{ about.data.imageAlt}}" class="snippet__image">
    <h3 class="snippet__title"><a href="{{ about.url  }}" >{{ about.data.title }}</h3></a>
    <p class="snippet__body">{{ about.data.description  }}</p>
  </article>
</div>
</li>