 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      <img src="/assets/blog/logo.jpg">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blogs</a>
          </li>
          <li>
            <a href="/more/">More</a>
          </li>
          <li>
            <a href="/inner_pages/about_page/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>