   
:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(1vh, 1em) 0;
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 0.5em;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap, 0.5em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}


/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  position: sticky;
  --logo-color: currentColor;
  padding:  0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  max-height: max(15rem, 40vh); 
  object-fit: cover; 
  background-color: cornflowerblue;
  object-fit: cover;
  bottom: 1px solid cornflowerblue;
}

.hero__ads {
  width: 65%;
  max-height: max(15rem, 40vh); 
  background-color: cornflowerblue;
  bottom: 1px solid cornflowerblue;
  margin-bottom: 3px;
  margin-top: 0px;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 1rem;
  margin: 1rem 0;

}

.articles__list- {
  --flow-spacer: 1rem;
  margin: 2rem 0;

}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 1rem;
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
  }

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}
.snippets__image{
  width: 15%;
  aspect-ratio: 6 / 6;
  object-fit: right;
}
.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
} 

@media (min-width: 45em) {
  
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
  
  .snippet- {

    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 1em;
    grid-template-columns: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

/*.................... * begin * .........................*/
.ads{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.sidebar{
  display: block;
  background-color: rgba(0, 255, 255, 0.275);
  width: 65%;
  border-radius: 4px;
}
.sidebar .snippet{
  display: flex;
  margin: 10px;
}
.sidebar-ad{
  display: block;
  background-color: blueviolet;
  width: 32%;
  border-radius: 4px;
}

.sidebar-ad .snippet{
  display: flex;
  margin: 10px;
}


/*.................. * end *...........................*/

/*vvvvvvvvvvv * begin * vvvvvvvvvv*/
.ads-sidebar{
  display: flex;
  justify-content: space-evenly;

}
.container--narrow-flow{
  display: block;
  width: 65%;
  border-radius: 4px;
  border: 1px seagreen solid;
  margin-bottom: 5px;
}
.container--narrow-flow .main-article{
  display: block;
  margin: 4px;
}
.narrow_sidebar-up{
  background-color: rgb(216, 234, 236);
  width: fit-content;
  display: flex;
  border-radius: 4px;
  max-height: max-content;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.narrow_sidebar-up .main-article{
  display: block;
  margin: 10px;
}
.narrow_sidebar-dn{
  background-color: rgb(216, 234, 236);
  width: fit-content;
  display: flex;
  border-radius: 4px;
  max-height: max-content;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0px;
  border-radius: 3px;
}

.narrow_sidebar-dn .main-article{
  display: block;
  margin: 10px;
  margin-bottom: 0px;
}
hr{
  border: 1px solid rgb(211, 199, 206);
  margin-top: 5px;
  
}
.side-nav{
  display: block;
  border-radius: 4px;
  max-height: max-content;
  width: 33%;
  margin-bottom: 5px;
}
/*vvvvvvvvv * end * vvvvvvvvvv*/

@media screen and (max-width: 480px) {
  .snippet__image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  
  .snippet {
    display: grid;
    gap: 0.5em;
    grid-template-areas:
        "image"
        "title"
        "meta"
        "body"
        "button";
}
/*.................... 480px * begin * .........................*/
.ads{
  display: flex;
  justify-content: space-between;

}
.sidebar{
  display: block;
  background-color: rgba(0, 255, 255, 0.275);
  width: 65%;
  border-radius: 4px;
}
.sidebarWgt {
  display: block;
  background-color: rgba(0, 255, 255, 0.275);
  width: 100%;
  border-radius: 4px;
}
.sidebar .snippet{
  display: flex;
  margin: 10px;
}
.sidebar-ad{
  display: block;
  background-color: blueviolet;
  width: 32%;
  border-radius: 4px;
}

.sidebar-ad .snippet{
  display: flex;
  margin: 10px;
}


/*.................. 480px * end *...........................*/

/*vvvvvvvvvvvv 480px * begin * vvvvvvvvvv*/
.ads-sidebar{
  display: block;
  justify-content: space-between;

}
.container--narrow-flow{
  display: block;
  background-color: rgba(0, 255, 255, 0.275);
  width: 100%;
  border-radius: 4px;
}
.container--narrow-flow .main-article{
  display: block;
  margin: 10px;
}
.narrow_sidebar-up{
  display: block;
  width: 100%;
  max-height: min-content;
  border-radius: 4px;
}
.side-nav{
  width: 100%;
  padding-right: 5px;
  padding-left: 0px;
}

.narrow_sidebar-up .main-article{
  display: block;
  margin: 5px;
}
.narrow_sidebar-dn{
  display: block;
  width: 100%;
  max-height: min-content;
  border-radius: 4px;
}

.narrow_sidebar-dn .main-article{
  display: block;
  margin: 5px;
}

/*vvvvvvvvv  480px * end * vvvvvvvvvv*/

  .nav-logo{
    padding-left: 10px;
  }
  ul.footer-nav{
    padding-left: 5px;
  }
  html {
    display: flex;
}
  figure{
    margin: 0;
    padding: 0;

  }
  .flex-group {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap, 0.5em);
  }
  .section-title {
    padding-left: 10px;
}
  a.btn.btn--primary {
      padding: 10px;
      text-align: center;
      margin-right: 5px;
    }
    a.btn.btn--neutral {
      padding: 10px;
      text-align: center;
      margin-left: 5px;
    }
    .container.flow {
      padding: 10px;
    }
li {
  padding: 5px;
}
.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}
.snippetWgt{
  
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
}
.articles__list {
  --flow-spacer: 3rem;
  list-style: none;
}
.articles__list- {
  --flow-spacer: 0.5rem;
  list-style: none;
}
.btn.btn--primary {
  padding: 10px;
  text-align: center;
  margin-right: 5px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}
}

/*end @media 480px*/
.logo {
  padding-right: 20px;
}
.footer_logo{
  margin-right: 0px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  padding-top: 0;
}
.footer-logo li{
  padding: 10px;
  padding-top: 0;
}
.footer-navbar{
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  list-style: none;
}
.footer-navbar-social{
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  list-style: none;
}
.footer-social {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-flow: nowrap;
  list-style: none;
}
.social {
  display: flex;
  margin: 0;
  padding-right: 0;
  justify-content: space-between;
  flex-flow: nowrap;
  list-style: none;
}
.footer-social li {
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
}
.footer-social a {
  color: wheat;
  text-decoration: none;
}
.footer-nav {
  display: flex;
  margin: 0;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  word-wrap: break-word;
}
.footer-nav li {
  padding-top: 0;
  padding: 5px;
}


.footer-nav ul :hover{
  padding-top: 0;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  border-radius: 3px;
}

.footer-nav h5 {
  color: wheat;
  text-decoration: none;
}

.navs {
  color: white;
  padding: 0;
  margin-bottom: 10px;
}
.navs a {
  color: white;
  text-decoration: none;
}
.navs li {
  margin: 5px;
  list-style: none;
}
